<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main id="content" role="main">
    <div class="container space-top-3 space-top-lg-4 space-bottom-2 space-bottom-lg-3">
        <!-- Hero -->
        <div class="text-center mb-5 mb-md-9">
            <h1 class="display-4 mb-0">
          <span class="js-text-animation"
                data-hs-typed-options='{
                  "strings": ["www.imagesforfree.com", "Free HD Images"],
                  "typeSpeed": 100,
                  "loop": true,
                  "backSpeed": 50,
                  "backDelay": 1500
                }'></span>
            </h1>
        </div>
        <!-- End Hero -->


        <!-- Filter -->
        <div id="filterControls" class="text-center mb-5 mb-md-7">
            <a class="cbp-filter-item cbp-filter-item-active btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter="*">All</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".illustration">Illustration</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".animals">animals</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".business">business</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".fashion">fashion</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".girl">girl</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".health">health</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".nature">nature</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".spring">spring</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".illustration">Illustration</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".wallpapers">wallpapers</a>
            <a class="cbp-filter-item btn btn-xs btn-soft-secondary btn-pill py-2 px-3 m-1" href="javascript:;" data-filter=".woman">woman</a>
        </div>
        <!-- End Filter -->


        <div class="cbp"
             data-hs-cbp-options='{
                 "animationType": "fadeOut",
                 "caption": "zoom",
                 "gapHorizontal": 40,
                 "gapVertical": 40,
                 "mediaQueries": [
                   {"width": 1500, "cols": 3},
                   {"width": 1100, "cols": 3},
                   {"width": 800, "cols": 3},
                   {"width": 480, "cols": 2},
                   {"width": 380, "cols": 1}
                 ]
           }'>

            <!-- test outputs -->
            <!--            This is an array of arrays. Names and Tags have the same amount of subarrays.
                            All names Arrays consist of a single element.
                            A tags subarray can contain any number of tags.
                            We have to output names[i][0] and tags[i][*]-->

<!--            <table class="table-dark">-->
<!--                <tr th:each="nameList, iter : ${namesLoL}">-->
<!--                    <td th:text="${nameList[0]}"></td>-->
<!--                </tr>-->

<!--                <tr th:each="tagList, iter : ${tagsLoL}">-->
<!--                    <th:block th:each="tag : ${tagsLoL[iter.index]}">-->
<!--                        <td th:text="${tag}"></td>-->
<!--                    </th:block>-->
<!--                </tr>-->
<!--            </table>-->


            <!-- own items -->
            <th:block th:each="tagString, iter : ${tagsLoL}">
                <div class="cbp-item" th:classappend="${tagString}">
<!--                <th:block th:each="tag : ${tagsLoL[iter.index]}"><div th:classappend="${tag}"></div></th:block>-->
                <a class="cbp-caption" th:href="@{{imageName} (imageName=${namesLoL[iter.index][0]})}">

                    <div class="overflow-hidden rounded-lg">
                        <div class="cbp-caption-defaultWrap">
                            <img class="rounded-lg" th:src="@{../thumbnails_400x500/{imageName}.jpg (imageName=${namesLoL[iter.index][0]})}" alt="Image Description">
                        </div>
                    </div>
                    <div class="p-4">
                        <span class="d-block small text-body font-weight-bold text-cap">Product</span>
                        <span class="d-block h3 mb-0">Canva Schedule</span>
                    </div>
                </a>
            </div>
        </th:block>

        <!-- Item -->
        <div class="cbp-item product branding spring">
            <a class="cbp-caption" href="./portfolio-single-page-grid.html">
                <div class="overflow-hidden rounded-lg">
                    <div class="cbp-caption-defaultWrap">
                        <img class="rounded-lg" src="../img/400x500/img21.jpg" alt="Image Description">
                    </div>
                </div>
                <div class="p-4">
                    <span class="d-block small text-body font-weight-bold text-cap">Branding</span>
                    <span class="d-block h3 mb-0">Larq</span>
                </div>
            </a>
        </div>
        <!-- End Item -->

        <!-- Item -->
        <div class="cbp-item product illustration spring">
            <a class="cbp-caption" href="./portfolio-single-page-grid.html">
                <div class="overflow-hidden rounded-lg">
                    <div class="cbp-caption-defaultWrap">
                        <img class="rounded-lg" src="../img/400x500/img24.jpg" alt="Image Description">
                    </div>
                </div>
                <div class="p-4">
                    <span class="d-block small text-body font-weight-bold text-cap">Product</span>
                    <span class="d-block h3 mb-0">Zibbet</span>
                </div>
            </a>
        </div>
        <!-- End Item -->


    </div>
    </div>
</main>

<div th:insert="fragments/javascriptImports"></div>
</body>
</html>
